<section
  style='display: flex;
  align-items:center;
  flex-wrap:wrap;
  justify-content: center;
  margin-top: 15vh;
  flex-direction:column
'
>
  <div>
    <img
      src='/images/beer.png'
      alt='large mugg'
      style='widht: 500px; height: 500px;'
    />
  </div>
  <div>
    <a
      href='/beers'
      style='  font: bold 11px Arial;
  text-decoration: none;
  background-color: #24d7d4;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #24d7d4;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #24d7d4;
  border-radius:60px'
    >Beers</a>
    <a
      href='/random-beer'
      style='  font: bold 11px Arial;
  text-decoration: none;
  background-color: #24d7d4;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #24d7d4;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #24d7d4;
  border-radius:60px'
    >Random Beer</a>
  </div>
</section>